<div class="about-section">
  <h1>BOBanksLtd OVERVIEW</h1>
  <h2>We’re just the bank you need. </h2>
  <p>Your Faithful And Friendly Financial Partner</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Past, present and future</h2>
        <p class="title">Past, present and future</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Leadership and governance</h2>
        <p class="title">Leadership and governance</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
      <div class="container">
        <h2>Awards and recognition</h2>
        <p class="title">Awards and recognition</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>

      </div>
    </div>
  </div>
</div>


