
<app-ulogin></app-ulogin>


<div class="bootstrap-wrapper">
  <div class="container" >
      <div class="row">

          <div class="col-md6-6 offset-md-3 ">

            <div class="container text-center">
              <img class="img-fluid" style="width: 125px;" src="../../../../assets/img/fund-transfer.png" alt="" />
            </div>

              <h1 class="text-center">FUND TRANSFER</h1>
              <!-- creating form -->
                <form (ngSubmit)="onSubmit()">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>TO ACCOUNT</mat-label>
                    <input
                    [(ngModel)]="transerDetail.ToCustomerid"
                    name="TO ACCOUNT"
                    required
                    type="text" matInput>
                  </mat-form-field>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>AMOUNT</mat-label>
                    <input
                    [(ngModel)]="transerDetail.amount"
                    name="amount"
                    required
                   type="text" matInput>
                  </mat-form-field>

                  <div class="container text-center">

                    <button type="submit" mat-raised-button color="primary">TRANSFER</button>
                  </div>

                </form>
              <br />
                <p class="mt">{{msg}}</p>
          </div>
      </div>
  </div>
</div>
