<!-- <section class="section is-large">

  <h1 class="title">WE ARE DEVELOPING TOO MUCH COMPLEX THINGS</h1>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
  <h2 class="subtitle">
    THIS IS OUR EFFORT TO MAKE SOMETHING USEFUL
  </h2>
</section> -->

<div style="background-color: #E6E6FA;">
  <section class="hero">
    <div class="hero-body">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
      <h1 class="title">Hey!!! Welcome to BOBanksLtd</h1>
      <mat-progress-bar mode="buffer"></mat-progress-bar>

      <mat-progress-bar mode="buffer"></mat-progress-bar>
      <h3 class="subtitle">
       OUR EFFORTS AND YOUR SUCCESS
      </h3>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
    </section>
    <section class="">

      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bg">
        <div class="col-md-5 p-lg-5 mx-auto my-5 bg-dark p-5">
          <h1 class="display-4 font-weight-bold" style="color: aliceblue;">MOST POPULER BANK IN OUR COUNTRY</h1>
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>
      </div>
      <div class="p-3 p-md-5 m-md-3 text-center bg-light">
        <div id="browser_cache" class="col-lg-12 col-md-12 hidden-sm hidden-xs">
          <p>BOBanksLtd never ask you for confidential information such as PIN and OTP from customer. Any such call can be made by
            only fraudster. Please do not share personal information.</p>
        </div>
      </div>
      </section>

</div>
